@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.highlight {
  text-decoration: underline;
  text-decoration-thickness: 0.6em;
  text-decoration-color: theme("colors.ikpurple.200");
  text-underline-offset: -0.2em;
  text-decoration-skip-ink: none;
  @apply font-bold px-1;
}

.dark .highlight {
  text-decoration-color: theme("colors.ikyellow.700");
}

.sub-grid {
  grid-template-rows: subgrid;
  row-gap: 0.5rem;
}

table {
  @apply table-fixed border-collapse;
}

table th,
table td {
  @apply border border-ikpurple-900 dark:border-ikyellow-400 px-2 py-1;
}

table th {
  @apply dark:text-ikpurple-200;
}

table td {
  @apply text-ikpurple-900;
}

table thead tr {
  @apply bg-ikyellow-50 dark:bg-ikpurple-700;
}

table tbody tr:nth-of-type(even) {
  @apply bg-ikyellow-200 dark:bg-ikpurple-300;
}

table tbody tr:nth-of-type(odd) {
  @apply bg-ikyellow-100 dark:bg-ikpurple-200;
}

ul {
  @apply text-ikyellow-900 dark:text-ikpurple-100;
}

a {
  @apply text-ikyellow-800 hover:text-ikyellow-600 dark:text-ikpurple-200 dark:hover:text-ikpurple-800 transition-colors;
}
